.ui-widget {
    font-size: 90%;
}
.ui-widget .ui-widget {
    font-size: 100%;
}
.ui-layout-north, .ui-layout-north .ui-layout-unit-content {
    z-index: 20 !important;
    overflow: visible !important;
}
.global-ajax-status {
    width: 64px;
    height: 64px;
    bottom: 5px;
    right: 5px;
    position: fixed;

}
